In [2]:
import pandas as pd

In [16]:
#read the fast food data into a df 

fast_food_df = pd.read_csv("../Datasets/Nutrition_Value_Dataset.csv")
fast_food_df["Product"].value_counts()

# could sort descending and filter out very rare + condense recurring values
# could make a new df with the two columns of interest and use compare function or isduplicated or similar

Medium Fries                  3
Corn n Cheese (Personal)      2
Veggie Lover (Medium)         2
Chicken Supreme (Medium)      2
Chicken Sausage (Medium)      2
                             ..
Spicy Chicken Wrap            1
Mc Spicy Chicken Burger       1
FILLET-O-FISH Burger          1
Mc chicken Burger             1
CALZONE POCKETS - CHICKEN     1
Name: Product, Length: 464, dtype: int64

In [17]:
#read the pizza price data into a df

pizza_df = pd.read_csv("../Datasets/pizza_data.csv")
pizza_df["Pizza Name"].value_counts()

Egg-Ceptional Pizza                                            4
BBQ Chicken Pizza                                              4
All Meat Pizza                                                 4
Cheese Pizza                                                   4
Veggie Pizza                                                   4
                                                              ..
Ultimate Cheese Lover's Pizza (Stuffed Crust)                  1
Ultimate Cheese Lover's Pizza (Skinny Slice)                   1
Honolulu Hawaiian (Hand Tossed, Handmade Pan or Thin Crust)    1
Veggie Lover'sÂ® Pizza (Stuffed Crust)                          1
New Primo Meat Pizza (Stuffed Crust)                           1
Name: Pizza Name, Length: 247, dtype: int64

In [18]:
fast_food_df["Product"].compare(pizza_df["Pizza Name"], align_axis=0)

ValueError: Can only compare identically-labeled Series objects

In [19]:
#edit the company column values so that they match across datasets

pizza_df.replace(to_replace="Domino's Pizza", value="Dominos",inplace=True)
pizza_df.head()

   Company          Pizza Name           Type          Size  Price
0  Dominos         Hand Tossed  Cheeses Pizza   Small (10")  $5.99
1  Dominos         Hand Tossed  Cheeses Pizza  Medium (12")  $7.99
2  Dominos         Hand Tossed  Cheeses Pizza   Large (14")  $9.99
3  Dominos        Handmade Pan  Cheeses Pizza  Medium (12")  $7.99
4  Dominos  Crunchy Thin Crust  Cheeses Pizza   Small (10")  $5.99

In [20]:
#merge the two datasets to eventually be able to get a view of nutrition and price - save this for later

merged_df = pd.merge(fast_food_df, pizza_df, how="outer", on="Company")
merged_df.head()

,Company,Category,Product,Per Serve Size,Energy (kCal),Carbohydrates (g),Protein (g),Fiber (g),Sugar (g),Total Fat (g),Saturated Fat (g),Trans Fat (g),Cholesterol (mg),Sodium (mg),Pizza Name,Type,Size,Price
0,Pizza Hut,All Meals,Corn n Cheese (Personal),143.5 g,432.6,65.64,17.91,3.85,0.0,10.93,5.14,0.16,16.19,499.72,Hand-Tossed,Cheese Pizza,Medium,$8.49
1,Pizza Hut,All Meals,Corn n Cheese (Personal),143.5 g,432.6,65.64,17.91,3.85,0.0,10.93,5.14,0.16,16.19,499.72,Hand-Tossed,Cheese Pizza,Large,$10.49
2,Pizza Hut,All Meals,Corn n Cheese (Personal),143.5 g,432.6,65.64,17.91,3.85,0.0,10.93,5.14,0.16,16.19,499.72,Pan Pizza,Cheese Pizza,Personal,$4.29
3,Pizza Hut,All Meals,Corn n Cheese (Personal),143.5 g,432.6,65.64,17.91,3.85,0.0,10.93,5.14,0.16,16.19,499.72,Pan Pizza,Cheese Pizza,Medium,$8.49
4,Pizza Hut,All Meals,Corn n Cheese (Personal),143.5 g,432.6,65.64,17.91,3.85,0.0,10.93,5.14,0.16,16.19,499.72,Pan Pizza,Cheese Pizza,Large,$10.49

In [21]:
#could you stick to Keto diet at any fast food restaurant? 
#Keto = 55-80% fat content, 15-35% protein content, and under 10% of carbohydrates.
#let's create new columns with required percentages
#Per Serve Size has to be converted to a numeric value (currently a string). 

fast_food_df.dtypes

Company               object
Category              object
Product               object
Per Serve Size        object
Energy (kCal)        float64
Carbohydrates (g)    float64
Protein (g)          float64
Fiber (g)            float64
Sugar (g)            float64
Total Fat (g)        float64
Saturated Fat (g)    float64
Trans Fat (g)        float64
Cholesterol (mg)     float64
Sodium (mg)          float64
dtype: object

In [22]:
#First, let's get rid of the spaces and letters

fast_food_df[['Serving_Size_g','extra_col']] = fast_food_df['Per Serve Size'].str.split(" ",n=1,expand=True)
fast_food_df.drop('extra_col', axis=1, inplace=True)

#this mostly worked but there are some stubborn holdouts

fast_food_df['Serving_Size_g'].unique()

array(['143.5', '178', '143', '174.5', '177', '130.5', '157', '139.5',
       '167.5', '170.5', '194.5', '160.5', '171', '153.5', '209', '211',
       '165.5', '154.5', '151.5', '172.5', '148.5', '193.5', '200', '257',
       '185', '237', '182', '223.6', '229', '165.6', '205', '215', '214',
       '257.6', '209.6', '223', '229.6', '218g', '221.6', '197.6', '194',
       '227', '189.6', '213.2', '215.6', '198', '253', '226', '259',
       '126', '161', '148', '113', '140', '122', '149', '153', '155',
       '160', '136', '150', '137', '131', '163', '176', '168', '154',
       '206', '151', '192', '186', '134', '174', '147', '183', '193',
       '187', '190', '166', '158', '195', '197', '184', '167', '222',
       '65.5', '73', '76.5', '69', '77', '81', '146', '74', '55', '85.5',
       '169', '173.5', '94.5', '77.5', '78.5', '95', '146.5', '92', '180',
       '250', '138', '165', '159', '296', '310', '118', '121', '116',
       '287', '302', '65', '117', '78*', '155*', '310*', '570*', '65*',
       '130*', '260*', '495*', '40', '80', '52', '104', '70', '114',
       '191', '170.0', '120.0', '116.0', '158.0', '159.0', '110.0',
       '147.0', '42.0', '13.0', '30.0', '15.0', '74.0', '84.0', '60.0',
       '85.0', '75.0', '80.0', '90.0', '45.0', '113.0', '99.0', '64.0',
       '73.0', '92.0', '91.0', '93.0', '115.0', '43.0', '100.0', '123.0',
       '68.0', '165.0', '202.0', '168.0', '146.0', '199.0', '250.0',
       '177.0', '306.0', '132.0', '87.0', '173.0', '136.0', '186.0',
       '257.0', '296.0', '138.0', '126.2', '325.0', '96.0', '144.0',
       '58.0', '145.0', '77.0', '109.0', '154.0', '114.0', '156.0',
       '216.0', '200.0', '205.0', '119.0', '123.2', '112.0', '157.0',
       '142.0', '26.5', '276.5', '347.5', '455.0', '201.5', '297.5',
       '355.0', '236.5', '307.5', '375.0', '266.5', '405.0', '242.5',
       '311.5', '377.0', '127.0', '223.0', '259.0', '367.0', '153.0',
       '163.0', '279.0', '330.0', '456.0', '245.0', '291.5', '296.5',
       '320.5', '334.0', '280.0', '290.0', '310.0', '317.0', '81.29',
       '93.29', '91.79', '132.08', '110.79', '155.08', '125.79', '200.08',
       '86.79', '147.38', '195.0', '207.0', '240.0', '307.0', '301.0',
       '264.5', '212.5', '211.0', '135.0', '299.0', '394.0', '544.0',
       '286.79', '500.0', '25.0', '10.0', '5.0', '8.0', '14.0', '40.0',
       '180.0', '105.0', '155.0', '276.0', '305.0', '341.0', '232.0',
       '225.0', '212.0', '167.0', '230.0', '462.0', '294.0', '182.0',
       '364.0', '546.0', '728.0', '1000.0', '184.0', '368.0', '460.0',
       '552.0', '736.0', '340.0', '712.0', '327.0', '451.5', '732.0',
       '693.5', '910.0', '1008.0', '962.0', '210.0', '20.0', '300.0',
       '52.0', '69.0', '56.0', '108.0', '70.0', '83.0', '65.0', '82.0',
       '68.8', '79.0', '101.0', '72.0', '97.0', '76.0', '128.0', '78.0',
       '106.0', '126.0', '61.0', '11.0', '94.0', '66.0', '16.0', '122.0',
       '190.0', '198.0', '238.0', '174.0', '248.0'], dtype=object)

In [23]:
fast_food_df['Serving_Size_g'].replace(to_replace="218g", value="218",inplace=True)
fast_food_df['Serving_Size_g'] = fast_food_df['Serving_Size_g'].str.replace('*', '')
fast_food_df['Serving_Size_g'] = fast_food_df['Serving_Size_g'].astype(float)

/Users/oaklandsveryown/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

In [24]:
fast_food_df.dtypes

Company               object
Category              object
Product               object
Per Serve Size        object
Energy (kCal)        float64
Carbohydrates (g)    float64
Protein (g)          float64
Fiber (g)            float64
Sugar (g)            float64
Total Fat (g)        float64
Saturated Fat (g)    float64
Trans Fat (g)        float64
Cholesterol (mg)     float64
Sodium (mg)          float64
Serving_Size_g       float64
dtype: object

In [25]:
#calculate nutritional content and making a new dataframe

fat_content = (fast_food_df["Total Fat (g)"] / fast_food_df["Serving_Size_g"])*100
protein_content = (fast_food_df["Protein (g)"] / fast_food_df["Serving_Size_g"])*100
carb_content = (fast_food_df["Carbohydrates (g)"] / fast_food_df["Serving_Size_g"])*100

In [26]:
keto_df = pd.DataFrame({
    "Company": merged_df["Company"],
    "Product": merged_df["Product"],
    "Fat_Content": fat_content,
    "Protein_Content": protein_content,
    "Carb_Content": carb_content
})

keto_df

,Company,Product,Fat_Content,Protein_Content,Carb_Content
0,Pizza Hut,Corn n Cheese (Personal),7.616725,12.480836,45.742160
1,Pizza Hut,Corn n Cheese (Personal),4.511236,9.398876,37.702247
2,Pizza Hut,Corn n Cheese (Personal),8.580420,12.769231,41.937063
3,Pizza Hut,Corn n Cheese (Personal),11.610315,11.501433,30.292264
4,Pizza Hut,Corn n Cheese (Personal),7.079096,11.248588,30.468927
...,...,...,...,...,...
26251,IMO's Pizza,NaN,NaN,NaN,NaN
26252,IMO's Pizza,NaN,NaN,NaN,NaN
26253,IMO's Pizza,NaN,NaN,NaN,NaN
26254,IMO's Pizza,NaN,NaN,NaN,NaN
26255,IMO's Pizza,NaN,NaN,NaN,NaN

In [27]:
#Use loc to identify products that fit the Keto criteria
#Keto = 55-80% fat content, 15-35% protein content, and under 10% of carbohydrates.

diet_df = keto_df.loc[ 
    (keto_df["Fat_Content"] >=55) & 
    (keto_df["Fat_Content"] <=80) &
    (keto_df["Protein_Content"] >=15) & 
    (keto_df["Protein_Content"] <=35) &
    (keto_df["Carb_Content"] < 10)
]
diet_df

#looks like the answer is no?

Empty DataFrame
Columns: [Company, Product, Fat_Content, Protein_Content, Carb_Content]
Index: []

In [32]:
keto_df.loc[keto_df["Fat_Content"] == keto_df["Fat_Content"].max()]

,Company,Product,Fat_Content,Protein_Content,Carb_Content
366,Pizza Hut,Double Cheese (Personal),293.125,1.0,32.875

In [34]:
keto_df["Fat_Content"].sort_values(ascending=False)

366      293.125000
486       90.000000
195       66.666667
506       55.000000
431       35.000000
            ...
26251           NaN
26252           NaN
26253           NaN
26254           NaN
26255           NaN
Name: Fat_Content, Length: 26256, dtype: float64

In [31]:
keto_df.loc[keto_df["Carb_Content"] == keto_df["Carb_Content"].min()]

,Company,Product,Fat_Content,Protein_Content,Carb_Content
142,Pizza Hut,Country Feast (Personal),0.0,0.0,0.0
360,Pizza Hut,Double Cheese (Personal),0.0,0.0,0.0
361,Pizza Hut,Double Cheese (Personal),0.0,0.0,0.0
441,Pizza Hut,Double Paneer Supreme (Personal),0.0,0.0,0.0

In [30]:
keto_df["Carb_Content"].min()

0.0